* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}
button {
  background-color: rgb(170, 163, 205);
  border: 1px solid rgb(123, 118, 149);
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 700;
  color: rgb(62, 60, 72);
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 7px;
  margin-top: 7px;
}
input {
  color: rgb(62, 60, 72);
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}
button:hover {
  background-color: rgb(133, 128, 162);
}
.wrapper {
  padding: 2px;
}
.message-container {
  text-align: center;
  padding: 5px 100px;
  min-height: 30px;
}
.message {
  font-size: 16px;
  text-transform: uppercase;
  color:rgb(230, 88, 107)
}
.message_success {
  color: rgb(81, 203, 81);
}
.canvas-container {
  display: grid; 
  grid-template-columns: 2fr 258px; 
  grid-gap: 15px;
}
.canvas {
  width: 100%;
  border: 1px solid rgb(38, 36, 44);
}
.results-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(38, 36, 44);
  padding: 5px 10px;
}
.results-container button {
  margin-bottom: 5px;
  margin-top: 5px;
}
.results {
  color: white;
  overflow-y: auto;
  height: 100%;
  max-height: 515px;
}
.results__result {
  line-height: 1.4;
}
.results__label {
  font-weight: 700;
}
.functions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px 10px;
  margin-top: 15px;
  border: 1px solid rgb(38, 36, 44);
}
.functions-container input {
  padding: 3px;
  border: 1px solid rgb(123, 118, 149);
}
.functions-container label {
  display: inline-flex;
  align-items: center;
  color: white;
  margin-right: 20px;
}
.functions-container input[type=checkbox] {
  width: 18px;
  height: 18px;
}
.functions-container input[type=checkbox]:hover,
.functions-container label:hover {
  cursor: pointer;
}
.settings-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.test-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}


